.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

.jumbotron p::before {
  content: '.';
  visibility: hidden;
}

.jumbotron p::after {
  content: '.';
  visibility: hidden;
}

.tex-black {
  color: #000;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  margin-bottom: 1rem;
}
